.navbar {
    background-color: #3f51b5 !important;
    border-color: #303f9f !important;
}

.navbar:focus {
    background-color: #1e2869 !important;
}

.navbar-nav>.active>a {
    background-color: #303f9f !important;
}
